:root {
    --ms-btn-primary-color: #2d64e6;
    --ms-btn-secondary-color: #cd3d0f;
}
/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif
}
img {
    width: 100%;
}
/* jumbotron style 1 */
.ms_jumbotron.style1 {
    color: white;
    padding-bottom: 50px;

    /* TEST */
    background-color: rgb(61, 61, 61);
}

.ms_jumbotron.style1 h2 {
    margin-bottom: 30px;
}

.ms_jumbotron.style1 p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}
/* media query jumotron text width */
@media all and (min-width: 992px) {
    .ms_jumbotron.style1 p {
        width: 40%;
    }
}

/* jumbotron style 2 */
.ms_jumbotron.style2 {
    padding: 30px 5px;
}

.ms_jumbotron_img_container {
    width: 100%;
}

/* btn default settings */
.ms_btn {
    border-radius: 20px;
    border: 1px solid transparent;
}

.ms_btn_large {
    padding: 5px 10px;
}

.ms_btn_small {
    padding: 3px 6px;
    font-size: .95rem;
}

.ms_btn_primary_color {
    background-color: var(--ms-btn-primary-color);
    color: white;
}

.ms_btn_secondary_color {
    color: white;
    background-color: var(--ms-btn-secondary-color)
}

/* button custom jumobtron 1 style 2 */
.ms_btn_custom1 {
    color: var(--ms-btn-primary-color);
    background-color: #d9dadc;
}
/* sections titles */
.ms_section_title {
    font-size: 2em;
    text-align: center;
}

.ms_section_title span {
    font-size: .7rem;
    vertical-align: super;
}

.mb_20 {
    margin-bottom: 20px;
}
/* HEADER */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    /* TEST */
    background-color: chocolate;
}

.ms_header_top {
    height: calc(100% - 65px);
    background-color: black;
}

.ms_header_top img {
    width: 5rem;
}

.ms_header_bottom {
    height: 65px;
    background-color: whitesmoke;
}

/* FIRST JUMBOTRON STYLE 1*/
.ms_jumbotron.first.style1 {
    padding-top: 350px;
    margin-bottom: 40px;
}
/* /FIRST JUMBOTRON STYLE 1*/

/* MAIN */
/* first section */
.ms_first_section {
    padding: 0 5px;
    margin-bottom: 100px;
}
.ms_first_section_img_container {
    border-radius: 15px;

    /* TEST */
    height: 150px;
    background-color:rgb(104, 104, 104)
}
/* /first section */

/* ps5 section */
.ms_ps5_section {
    margin-bottom: 20px;
}
.ms_ps5_section .ms_no_limits {
    text-align: center;
    text-transform: uppercase;
    color: #1e83d4;
    font-size: .8rem;
    font-weight: 600;
}

.ms_ps5_col_text_content p {
    font-size: 1.2rem;
}

.ms_ps5_col_text_title{
    text-align: left;
}

.ms_ps5_col_img {
    width: 100%;

    /* TEST */
    height: 400px;
    background-color: #007add;
}

.ms_ps5_gallery_card {
    width: 100%;
    /* TEST */
    background-color: rgb(48, 48, 48);
    border: 1px solid darkblue;
}

.ms_ps5_card_top {
    width: 100%;
    padding-top: 100%;
    background-color: #007add;
}

/* /ps5 section */

/* second jumbotron style 1 */
.ms_jumbotron.second.style1 {
    padding-top: 200px;
}
/* /second jumbotron style 1 */

/* new releases section */
.ms_new_releases {
    background-color: rgb(54, 57, 87);
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.ms_new_releases .container>p {
    font-size: 1.2rem;
}
.ms_new_releases_card_top {
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    /* TEST */
    background-color: rgb(127, 136, 175);
}

.ms_new_releases_card_bottom {
    color: white;
    font-size: 1rem;
}

/* /new releases section */

/* PS4 section */
.ms_ps4_section {
    margin-bottom: 100px;
}
.ms_ps4_section p {
    color: gray;
    font-size: 1.2rem;
}

.ms_text_center{
    text-align: center;
}

.ms_ps4_card_item {
    padding: 0 10px 30px;
    /* TEST */
    border-radius: 20px;
    background-color:rgb(157, 161, 255)
}

.ms_ps4_card_item_top {
    padding: 100px 0;
    /* TEST */
    border-radius: 20px;
    background-color: #4c4ec0;
}

/* /PS4 section */
 
/* first jumbotron style 2 */
.ms_jumbotron.first.style2 {
    padding: 0;
    background-color: #bebcbb;
    min-height: 320px;
    margin-bottom: 200px;
}

.ms_jumbotron_col_text {
    padding-top: 50px;
    /* padding-bottom: 50px; */
}

.ms_jumbotron_col_text .ms_ps_logo_container {
    width: 60%;
    margin-bottom: 20px;
}

.ms_jumbotron_col_text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.ms_jumbotron_img_container {
    height: 35vw;
    min-height: 320px;
    max-height: 450px;
    width: 100%;
    display: none;
}


.ms_jumbotron_img_container img {
    height: 100%;
    width: auto;
}

@media all and (min-width: 768px) {
    .ms_jumbotron_col_text {
        padding-top: 30px;
    }

    .ms_jumbotron_col_text .ms_ps_logo_container {
        width: 100%;
    }
    
    .ms_jumbotron_img_container {
        display: block;
    }
}

@media all and (min-width: 992px) {
    .ms_jumbotron_col_text .ms_ps_logo_container {
        width: 60%;
    }
}
/* /first jumbotron style 2 */

/* /MAIN */
