/* COMMON */


/* HEADER */
header {
    width: 100%;
    height: 100px;

    /* TEST */
    background-color: chocolate;
}

.ms_header_top {
    height: calc(100% - 65px);
    background-color: black;
}

.ms_header_bottom {
    height: 65px;
    background-color: whitesmoke;
}